@page "/requestpage/{id}/edit"

<PageTitle>Изменить заявку №@Id</PageTitle>

@using BlazorApp.Data
@inject RequestService RequestsController
@inject NavigationManager NavManager

<h1>Изменить заявку №@Id</h1>


@if (request == null)
{
        <p><em>Загрузка...</em></p>
}
else
{
        <EditForm Model="@request">
            <p>
                Текст заявки:<br />
                <InputTextArea @bind-Value="request.Text"/>
            </p>
        </EditForm>

        <button class="btn btn-primary" @onclick="Edit">Изменить</button>
        
}

@code
{
    [Parameter]
    public string? Id { get; set; } = "";

    public Request request;

    protected override async Task OnInitializedAsync()
    {
        request = await RequestsController.Get(Convert.ToInt32(Id));
    }

    private async void Edit()
    {
        var newReq = await RequestsController.Edit(request.Id, request);
        NavManager.NavigateTo($"/requestpage/{newReq.Id}");
    }
}
